body {word-break:keep-all; min-height:100%; position:relative;padding:0; background-color:rgba(240,240,240,1.0); text-decoration:none;color:#333;font-family:'Noto Sans', Helvetica, Arial, serif;font-style: normal;margin:0;text-align: center;}
div {word-break:keep-all;}
a {text-decoration: none;color: #333;border:0;}
a:link{text-decoration: none;color: #333}
a:visited{text-decoration: none;color: #333}
a:hover{text-decoration: none;color: #333}
a:active{text-decoration: none;color: #333}
img{border: 0;}
div {border:0}



/* 타이포 */
h1{
	font-size:4.5em;
 	font-weight:400;
	line-height:80%;}

h2{
	font-size:2.4em;
 	font-weight:700;
	line-height:150%}

h3{
	font-size:2.2em;
 	font-weight:700;
	line-height:150%}

h4{
	font-size:2em;
 	font-weight:400;
	line-height:150%;}

p {font-size:2.2em;
	font-weight:400;
	line-height:150%;
	color:#333;}

.stxt {
	font-size:1.8em;
 	font-weight:400;
	line-height:150%;}

.xstxt {
	font-size:1.8em;
 	font-weight:400;
	line-height:150%;}

.xxstxt{
	font-size:1.4em;
 	font-weight:400;
	line-height:150%;}

.footertxt{font-size:0.8em;
	font-weight:400;
	line-height:150%}



/* 여백 */
.header_masking{height:24vw;}
.margin_4vw{margin:4vw;}
.margin_3vw{margin:3vw;}
.margin_2vw{margin:2vw;}
.space_L {position:relative;width:100%;height:16vw;}
.space_M {position:relative;width:100%;height:8vw;}
.space_S {position:relative;width:100%;height:4vw;}
.space_XS {position:relative;width:100%;height:2vw;}


/* 헤더 & 푸터 */
header{
	position:fixed;
	top:0;
	width:100%;
	display: block;
	height:auto;
	text-align: center;
	margin-bottom:4vw;
	background-color: #f0f0f0;
	z-index: 10;}

header img{width:20vw;margin-bottom:2vw;}

.header-main{
	margin:4vw;
	position:relative;
	display: block;
	height:auto;
	text-align: center;
	width:92vw;
	margin-top:4vw;}

.main-logo{
	width:60vw;
	max-width:320px;}

footer{
	position:relative;
	display: block;
	width:100%;
	text-align: center;}

footer img{
	position:relative;
	width:30vw;
	height:auto;
	margin:10px;}

.footer_comp{width:92vw;padding:2vw 4vw 2vw 4vw;}


/* 가로선 */
.stroke_thin{position:relative;background-color: rgba(51,51,51,0.3);height:1px;width:100%;margin:0;padding:0;}

.stroke_basic{position:relative;background-color: rgba(51,51,51,1);height:1px;width:100%;margin:0;padding:0;}



.m_hide{display: none;}




.wrap {
	width:100%;
	position:absolute;
	display:block;
	text-align:center;}

.container {
	position:relative;
	height:4vw;
	margin-bottom:6vw;}

.container_margin {
	position:relative;
	width:92vw;
	margin:0;
	padding:4vw;
	left:auto;
	text-align: left;}

.flex-wrap{
	position:relative;
	display: flex;
  	flex-wrap: wrap;
	align-items:baseline;}

.container_2cols_1 {
		position:relative;
		width:100%;}
.container_2cols_2 {
		position:relative;
		width:100%;}





.main_btn_box{
	background-color:#fff;
	border-radius: 20px;
	box-shadow: 2vw 2vw 4vw rgba(0,0,0,0.05);;
	height: auto;
	left: 0px;
	position: relative;
	top: 0px;
	width:84vw;
	left:4vw;
	margin-bottom:4vw;
	padding:4vw;
	transition: all 0.2s ease;}

.main_btn_box:hover {
	box-shadow: 20px 20px 20px -10px rgba(0,0,0,0.2);
	background-color:#f7f7f7;}

.main_btn_box:active {
	background-color:#e0e0e0;}


.main_btn_img{
	position:relative;
	width:100%;
	text-align: center;
	top:0;
	margin-bottom:4vw;}

.btn_txt{
	position:relative;
	width:100%;
	height:auto;
	font-size: 3em;
 	font-weight: 700;
	text-align: center;}



.logo-enter {
  	animation: logo-enter-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  	display: block;
	opacity: 0;}
.animate-enter1 {
	animation: animate-enter-frames 0.40s ease-in-out 0.30s 1 normal forwards;
	display: block;
	opacity: 0;transform: translate(0, 25px);}
.animate-enter2 {
  	animation: animate-enter-frames 0.40s ease-in-out 0.60s 1 normal forwards;
  	display: block;
	opacity: 0;transform: translate(0, 25px);}
.animate-enter3 {
  	animation: animate-enter-frames 0.40s ease-in-out 0.90s 1 normal forwards;
  	display: block;
	opacity: 0;transform: translate(0, 25px);}

@keyframes animate-enter-frames {
	from{opacity: 0;transform: translate(0, 25px);}
	to{opacity: 1;transform: translate(0,0);}}

@keyframes logo-enter-frames {
	from{opacity: 0;}
	to{opacity: 1;}}

-webkit-@keyframes animate-enter-frames {
	from{opacity: 0;transform: translate(0, 25px);}
	to{opacity: 1;transform: translate(0,0);}}

-webkit-@keyframes logo-enter-frames {
	from{opacity: 0;}
	to{opacity: 1;}}



.desc{margin:4vw;}

.title {
	height:auto;
	text-align: center;
	margin:8vw 4vw;}

.sub_title {margin:4vw;}

.btn_2box {
	background-color:#fff;
	border-radius: 20px;
	box-shadow: 2vw 2vw 4vw rgba(0,0,0,0.05);
	height: auto;
	left: 0px;
	position: relative;
	top: 0px;
	width:84vw;
	left:4vw;
	margin-bottom:4vw;
	padding:4vw;
	transition: all 0.2s ease;}

.btn_2box:hover {
box-shadow: 20px 20px 20px -10px rgba(0,0,0,0.2);
background-color:#f7f7f7;}

.btn_2box:active {
background-color:#e0e0e0;}

.btn2_img {
	position:relative;
	width:100%;
	text-align: center;
	top:0;
	margin:2vw 0;}

.textbox_2clm {
	height: auto;

	position: relative;
	top: 0px;
	width:92vw;
	left:4vw;
	margin-bottom:4vw;}







.gray_box {
	position: relative;
	background-color:rgba(51,51,51,0.05);
	border-radius:10px;
	width:84vw;
	height:auto;
	margin:4vw;
	padding:4vw;}

.white_box {
	position: relative;
	background-color:white;
	border-radius:10px;
	width:92vw;
	height:auto;
	margin:4vw;}

.pure_box{
	position: relative;
	width:92vw;
	margin:4vw;
	text-align: left;}

.terms_box_3clm {
	position: relative;
	width:92vw;
	margin:4vw 4vw 0 4vw;
	text-align: left;}

.terms_box_4clm {
	position: relative;
	width:92vw;
	margin:4vw 4vw 0 4vw;
	text-align: left;}

.terms_stroke {
	position: relative;
	background-color:rgba(51,51,51,0.5);
	height:1px;
	width:100%;
	margin-bottom:1vw;
	padding:0;}

.terms_box_full {
	padding:4vw;
	text-align:left;}



/* 버튼 */
.btn_purple {
	background-color:#947AF6;
	border-radius: 10px;
	border:none;
	color:white;
	width:92vw;
	margin:4vw;
	height:auto;
	padding:3vw;
	font-size:2.4em;
	font-weight:700;
	box-shadow: 1vw 1vw 2vw rgba(148, 122, 246, 0.3);}

.btn_purple:hover {opacity:80%;border:none;}
.btn_purple:active {opacity:60%;border:none;}

.btn_white {
	background-color:white;
	border-radius: 10px;
	border:none;
	color:#333;
	width:92vw;
	margin:4vw 4vw 0 4vw;
	height:auto;
	padding:3vw;
	font-size:2.4em;
	font-weight:700;
	box-shadow: 1vw 1vw 2vw rgba(51, 51, 51, 0.1);}

.btn_white:hover {opacity:80%;border:none;}
.btn_white:active {opacity:60%;border:none;}

.btn_small {
	background-color:#947AF6;
	border-radius:10px;
	border:none;
	color:white;
	width:auto;
	height:auto;
	margin:0 0 0 2vw;
	transform: translateY(-0.3vw);
	padding:1vw;
	font-size:1.6em;
	font-weight:400;}
.btn_small:hover {opacity:80%;border:none;}
.btn_small:active {opacity:60%;border:none;}



/* 입력폼 */
.textarea_form {
	position:relative;
	background-color:rgba(255,255,255,0.5);
	border:1px #BEBEBE solid;
	border-radius:10px;
	width:92vw;
	height:60vw;;
	padding:3vw;
	margin:-2vw 0 0 0;
	font-size:1.6em;
	line-height:240%;
	color:#333;
	font-weight:400;}


.input_box {
	position:relative;
	background-color:rgba(255,255,255,0.5);
	border:1px #BEBEBE solid;
	border-radius:10px;
	width:92vw;
	height:auto;
	padding:3vw;
	margin:1vw 4vw;
	font-size:2.4em;}

::placeholder {
  color:rgba(51,51,51,0.4);}

:-ms-input-placeholder {
  color:rgba(51,51,51,0.4);}

::-ms-input-placeholder {
  color:rgba(51,51,51,0.4);}

.input_box_extra {
	position:absolute;
	background-color:rgba(255,255,255,0.5);
	border:1px #BEBEBE solid;
	border-radius:10px;
	width:86vw;
	top:-1vw;;
	right:0;
	height:auto;
	padding:1.5vw;
	margin:0;
	font-size:2em;}


.input_box_extra_2cols {
	position:absolute;
	background-color:rgba(255,255,255,0.5);
	border:1px #BEBEBE solid;
	border-radius:10px;
	width:86vw;
	top:-1vw;;
	right:0;
	height:auto;
	padding:1.5vw;
	margin:0;
	font-size:2em;}

.input_box_form {
	position:relative;
	background-color:rgba(255,255,255,0.5);
	border:1px #BEBEBE solid;
	border-radius:10px;
	width:92vw;
	height:auto;
	padding:3vw;
	margin:-2vw 0 0 0;
	font-size:2.4em;}

.input_box_3clm {
	position:relative;
	background-color:rgba(255,255,255,0.5);
	border:1px #BEBEBE solid;
	border-radius:10px;
	width:28vw;
	height:auto;
	padding:3vw;
	margin:-2vw 4vw 0 0;
	font-size:2.4em;}

.input_box_3clm_3rd {
	position:relative;
	background-color:rgba(255,255,255,0.5);
	border:1px #BEBEBE solid;
	border-radius:10px;
	width:28vw;
	height:auto;
	padding:3vw;
	margin:-2vw 0 0 0;
	font-size:2.4em;}

.select {
	position:relative;}

.arrow {left:auto;
	float:right;
	position:relative;
	top:4vw;
	right:2vw;
 	width:0px;
	height:0px;
	border-style:solid;
	border-width:1.5vw 1.5vw 0 1.5vw;
	border-color:#333 transparent transparent transparent;
  	-webkit-transform:rotate(360deg)}





/* 라디오버튼 */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left:6vw;
    cursor: pointer;
    line-height:4vw;
    display: inline-block;
    color: #333;}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4vw;
    height: 4vw;
    border: 1px solid #333;
    border-radius: 100%;}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 2vw;
    height: 2vw;
    background:rgba(148,122,246,0.5);
	border: 1px solid #333;
    position: absolute;
    top: 1vw;
    left: 1vw;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);}





/* 체크박스 */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 7vw;
  margin-bottom: 1vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}

		/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;}

		/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.25vw;
  left: 0;
  height: 4.5vw;
  width: 4.5vw;
  border: 2px solid rgba(51,51,51,0.5);}

		/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #fff;}

		/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color:rgba(148,122,246,0.5);}

		/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;}

		/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;}

		/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 1.6vw;
  top: 0.3vw;
  width: 1vw;
  height: 3vw;
  border: solid #333;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);}





/* 작은체크박스 */
.checkbox_s_container {
  display: block;
  position: relative;
  padding-left: 6vw;
  margin-bottom: 1vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}

		/* Hide the browser's default checkbox */
.checkbox_s_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;}

		/* Create a custom checkbox */
.checkmark_s {
  position: absolute;
  top: 0.25vw;
  left: 0;
  height: 3.5vw;
  width: 3.5vw;
  border: 2px solid rgba(51,51,51,0.5);}

		/* On mouse-over, add a grey background color */
.checkbox_s_container:hover input ~ .checkmark_s {
  }

		/* When the checkbox is checked, add a blue background */
.checkbox_s_container input:checked ~ .checkmark_s {
  background-color:rgba(148,122,246,0.5);}

		/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_s:after {
  content: "";
  position: absolute;
  display: none;}

		/* Show the checkmark when checked */
.checkbox_s_container input:checked ~ .checkmark_s:after {
  display: block;}

		/* Style the checkmark/indicator */
.checkbox_s_container .checkmark_s:after {
  left: 1.2vw;
  top: 0vw;
  width:1vw;
  height: 2.5vw;
  border: solid #333;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);}













.required {color:#FF5C00;}

.disabled {opacity:50%;}

.icon_plus {position: relative;
	background-image:url('../img/icon_plus.png');
	background-size: contain;
	width:5vw;
	height:5vw;}
.icon_plus img{width:100%}

.icon_plus:hover {
    background-image:url('../img/icon_plus_hover.png');
	background-size: contain;
	width:5vw;
	height:5vw;}





@media (min-width: 62rem) {
	.m_hide{display:block;}
	body{}
	.margin_4vw{margin:20px;}
	.margin_3vw{margin:20px;}
	.margin_2vw{margin:2vw;}
	.space_L {height:120px;}
	.space_M {height:80px;}
	.space_S {height:40px;}
	.space_XS {height:10px;}


	header {}
	.header_masking{height:150px;}
	header img{width:100px;margin-bottom:12px;}
	footer{height:110px;margin-bottom:-110px;}
	footer img{
		position:relative;
		width:150px;
		height: auto;
		margin:10px;}

	.footer-comp{width:98%;padding:1vw;}

	.main-logo{
		width: 300px;height:auto;margin-top:0;}

	.header-main{
		margin:40px;}

	.main_btn_box{
		height: auto;
		width:23vw;
		padding:2vw;
		margin:1vw;
		left:6.5vw;}

	.main_btn_box img{
		width:70%;
		max-width:320px;}

	.btn_txt{
		font-size:1.6em;bottom:0;}

	h1{font-size:3em;}
	h2{font-size:1.6em;}
	h3{font-size:1.2em;}
	h4{font-size:1.2em;}
	p{font-size:1em;}
	.stxt{font-size:0.8em;}
	.xstxt{font-size:0.8em;}
	.footertxt{font-size:0.4em;}

	.m_hide{display:block;}

	.desc{margin:40px;}




	.btn_2box{
		width:23vw;
		padding:2vw;
		margin:1vw;
		left:21vw;}

	.btn_2box img {
		width:70%;
		max-width:320px;}

	.title {margin:40px;}
	.sub_title {margin:40px;}

	.textbox_2clm {
		width:23vw;
		padding:2vw;
		margin:1vw;
		left:21vw;}


	.margin_L {width:100%; height:100px;}
	.margin_M {width:100%; height:40px;}
	.margin_S {width:100%; height:20px;}



	.gray_box{width:760px;padding:20px;margin:auto;border-radius:5px;}
	.white_box{width:800px;margin:auto;border-radius:5px;}
	.pure_box{width:800px;margin:auto;}

	.terms_box_3clm {
		position: relative;
		width:240px;
		margin:0;
		padding-left:20px;
		padding-top:20px;
		text-align: left;}

	.terms_box_4clm {
		position: relative;
		width:175px;
		margin:0;
		padding-left:20px;
		padding-top:20px;
		text-align: left;}

	.terms_stroke {
		background-color:rgba(51,51,51,0.5);
		height:1px;
		width:100%;
		margin-bottom:5px;
		padding:0;}

	.terms_box_full {
		padding:2%;
		text-align:left;}


	.btn_white{
		width:800px;
		border-radius:5px;
		height:auto;
		font-size:1em;
		padding:10px;
		margin:20px;}

	.btn_purple {
		width:800px;
		border-radius:5px;
		height:auto;
		font-size:1em;
		padding:10px;
		margin:20px;}

	.btn_small {
		background-color:#947AF6;
		border-radius:5px;
		border:none;
		color:white;
		width:auto;
		height:auto;
		margin:0 0 0 10px;
		transform: translateY(-0.15vw);
		padding:5px;
		font-size:0.8em;}

	.input_box {
		border-radius:5px;
		width:800px;
		padding:10px;
		margin-top:10px;
		margin-bottom: 0;
		font-size:1em;}

	.icon_plus {width:36px;}
	.icon_plus img{width:100%}
	.icon_plus:hover{width:36px;}


	.container {
		height:30px;
		margin-bottom:0;
		vertical-align:middle;}

	.container_margin {
		width:800px;
		margin:auto;
		vertical-align:middle;}

	.container_2cols_1 {
		position:relative;
		width:380px;
		margin-right:40px;}

	.container_2cols_2 {
		position:relative;
		width:380px;}

	.input_box_form{
		width:100%;
		border-radius:5px;
		font-size:1em;
		padding:10px;
		margin:-5px 0 15px 0;}

	.input_box_extra {
		border-radius:5px;
		width:760px;
		top:-5px;
		right:0;
		height:auto;
		padding:8px;
		margin:0;
		font-size:1em;}

	.input_box_extra_2cols {
		border-radius:5px;
		width:340px;
		top:-5px;
		right:0;
		height:auto;
		padding:8px;
		margin:0;
		font-size:1em;}

	.checkmark {
			top:2px;
		  height:20px;
		  width:20px;
		  border:1px solid rgba(51,51,51,0.5);}

	.checkbox_container {
		  padding-left:40px;
		  margin-bottom:20px;}

	.checkbox_container .checkmark:after {
		  left:6px;
		  top:0;
		  width:7px;
		  height:14px;
		  border-width: 0 1px 1px 0;}





	[type="radio"]:checked + label,
	[type="radio"]:not(:checked) + label{
		padding-left:40px;
		line-height:30px;}
	[type="radio"]:checked + label:before,
	[type="radio"]:not(:checked) + label:before {
		content: '';
		position: absolute;
		width: 20px;
		height:20px;
		top:4px;}
	[type="radio"]:checked + label:after,
	[type="radio"]:not(:checked) + label:after {
		content: '';
		width: 10px;
		height: 10px;
		top:9px;
		left:5px;}


	.icon_plus {
		width:20px;
		height:20px;
		top:3px;}

	.icon_plus:hover {
		width:20px;
		height:20px;}

	.input_box_3clm {
		border-radius:5px;
		width:253px;
		height:auto;
		padding:10px;
		transform: translateY(-5px);
		margin:0 20px 0 0;
		font-size:1em;}

	.input_box_3clm_3rd {
		border-radius:5px;
		width:253px;
		padding:10px;
		margin:0;
		font-size:1em;
		transform: translateY(-5px);}

	.textarea_form {
		border-radius:5px;
		width:800px;
		height:200px;
		padding:10px;
		margin:0;
		font-size:1em;
		line-height:160%;
		font-weight:400;}



	/* 작은체크박스 */
	.checkbox_s_container {
		padding-left:24px;}

	.checkmark_s {
	  top:1px;
	  left:0;
	  height:15px;
	  width:15px;
	  border:1px solid rgba(51,51,51,0.5);}

	.checkbox_s_container input:checked ~ .checkmark_s:after {
  		display: block;}

	.checkbox_s_container .checkmark_s:after {
		  left:5px;
		  top:0;
		  width:5px;
		  height:10px;
		  border: solid #333;
		  border-width: 0 1px 1px 0;
		  -webkit-transform: rotate(45deg);
		  -ms-transform: rotate(45deg);
		  transform: rotate(45deg);}

}



