body {word-break:keep-all; min-height:100%; position:relative;padding:0; background-color:rgba(240,240,240,1.0); text-decoration: none;color: #333;font-family: 'Noto Sans', Helvetica, Arial, serif;font-style: normal;margin:0;text-align: center;}
div {word-break:keep-all;}
a {text-decoration: none;color: #333;border:0;}
a:link{text-decoration: none;color: #333}
a:visited{text-decoration: none;color: #333}
a:hover{text-decoration: none;color: #333}
a:active{text-decoration: none;color: #333}
img{border: 0;}
div {border:0}
h1{
	font-size:4.5em;
 	font-weight:400;
	line-height:80%;}

h2{
	font-size:2em;
 	font-weight:700;
	line-height:160%;}

h3{
	font-size:2.4em;
 	font-weight:700;
	line-height:160%;}

h4{
	font-size:2.4em;
 	font-weight:400;
	line-height:160%;}

.stxt {
	font-size:2em;
 	font-weight:400;
	line-height:160%;}

.xstxt {
	font-size:1.8em;
 	font-weight:400;
	line-height:160%;}

.footertxt{
	font-size:1.4em;
 	font-weight:400;
	line-height:160%;}

.margin_4vw{margin:4vw;}
.margin_3vw{margin:3vw;}
.margin_2vw{margin:2vw;}
.space_L {position:relative;width: 100%;height:12vw;}
.space_M {position:relative;width:100%;height:8vw;}
.space_S {position:relative;width:100%;height:4vw;}
.space_XS {position:relative;width:100%;height:1vw;}

header{
	position:relative;
	display: block;
	height:auto;
	text-align: center;
	margin-bottom:4vw;
}

header img{width:20vw;margin-bottom:2vw;}

.header-main{
	margin:4vw;
	position:relative;
	display: block;
	height:auto;
	text-align: center;
	width:92vw;
	margin-top:4vw;
}

.main-logo{width:60vw;max-width:320px;
	}

footer{
	position:relative;
	display: block;
	width:100%;
	text-align: center;
}

footer img{
	position:relative;
	width:30vw;
	height:auto;
	margin:10px;
}

.stroke_fullwidth{background-color: rgba(51,51,51,0.25);height:1px;width:100%;margin:0;padding:0;}

.footer-comp{width:92vw;padding:2vw 4vw 2vw 4vw;}






.m_hide{display: none;}


.wrap {
	width:100%;
	position:absolute;
	display:block;
	text-align:center;
}


.container {position:relative;}

.flex-wrap{
	position:relative;
	display: flex;
  flex-wrap: wrap;
}





.main_btn_box{
	background-color:#fff;
	border-radius: 20px;
	box-shadow: 2vw 2vw 4vw rgba(0,0,0,0.05);;
	height: auto;
	left: 0px;
	position: relative;
	top: 0px;
	width:84vw;
	left:4vw;
	margin-bottom:4vw;
	padding:4vw;
	transition: all 0.2s ease;
}

.main_btn_box:hover {
box-shadow: 20px 20px 20px -10px rgba(0,0,0,0.2);
background-color:#f7f7f7;
}

.main_btn_box:active {
background-color:#e0e0e0;
}


.main_btn_img{
	position:relative;
	width:100%;
	text-align: center;
	top:0;
	margin-bottom:4vw;
}

.btn_txt{
	position:relative;
	width:100%;
	height:auto;
	font-size: 3em;
 	font-weight: 700;
	text-align: center;
}



.logo-enter {
  animation: logo-enter-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter1 {
  animation: animate-enter-frames 0.40s ease-in-out 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter2 {
  animation: animate-enter-frames 0.40s ease-in-out 0.60s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter3 {
  animation: animate-enter-frames 0.40s ease-in-out 0.90s 1 normal forwards;
  display: block;
	opacity: 0;transform: translate(0, 25px);
}

@keyframes animate-enter-frames {
from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}

@keyframes logo-enter-frames {
from{opacity: 0;}
to{opacity: 1;}
}

-webkit-@keyframes animate-enter-frames {
from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}

-webkit-@keyframes logo-enter-frames {
from{opacity: 0;}
to{opacity: 1;}
}


.desc{margin:4vw;}



.title {
	height:auto;
	text-align: center;
	margin:8vw 4vw;

}







.btn_2box {
	background-color:#fff;
	border-radius: 20px;
	box-shadow: 2vw 2vw 4vw rgba(0,0,0,0.05);;
	height: auto;
	left: 0px;
	position: relative;
	top: 0px;
	width:84vw;
	left:4vw;
	margin-bottom:4vw;
	padding:4vw;
	transition: all 0.2s ease;
}

.btn_2box:hover {
box-shadow: 20px 20px 20px -10px rgba(0,0,0,0.2);
background-color:#f7f7f7;
}

.btn_2box:active {
background-color:#e0e0e0;
}


.btn2_img {
	position:relative;
	width:100%;
	text-align: center;
	top:0;
	margin:2vw 0;
}



.textbox_2clm {
	height: auto;
	left: 0px;
	position: relative;
	top: 0px;
	width:92vw;
	left:4vw;
	margin-bottom:4vw;
}







.gray_box {
	position: relative;
	background-color:rgba(51,51,51,0.05);
	border-radius:10px;
	width:84vw;
	height:auto;
	margin:4vw;
	padding:4vw;}

.white_box {
	position: relative;
	background-color:white;
	border-radius:10px;
	width:92vw;
	height:auto;
	margin:4vw;}

.pure_box{
	position: relative;
	width:92vw;
	margin:4vw;
	text-align: left;}

.terms_box_3clm {
	position: relative;
	width:92vw;
	margin:4vw 4vw 0 4vw;
	text-align: left;}

.terms_box_4clm {
	position: relative;
	width:92vw;
	margin:4vw 4vw 0 4vw;
	text-align: left;}

.terms_stroke {
	background-color:rgba(51,51,51,0.5);
	height:1px;
	width:100%;
	margin-bottom:1vw;
	padding:0;}

.terms_box_full {
	padding:4vw;
	text-align:left;
}





.btn_purple {
	background-color:#947AF6;
	border-radius: 10px;
	border: 0;
	color:white;
	width:92vw;
	margin:4vw;
	height:auto;
	padding:2vw;
	font-size:2.4em;
	font-weight:700;
	}

.btn_purple:hover {opacity:80%}
.btn_purple:active {opacity:60%}






@media (min-width: 62rem) {
	body{}
	.margin_4vw{margin:20px;}
	.margin_3vw{margin:20px;}
	header {}
	header img{width:100px;margin-bottom:12px;}
	footer{height:110px;margin-bottom:-110px;}
	footer img{
		position:relative;
		width:150px;
		height: auto;
		margin:10px;}

	.footer-comp{width:98%;padding:1vw;}

	.main-logo{
	width: 300px;height:auto;margin-top:0;}

	.header-main{
	margin:40px;}

	.main_btn_box{
	height: auto;
	width:23vw;
	padding:2vw;
	margin:1vw;
	left:6.5vw;}

	.main_btn_box img{
	width:70%;
	max-width:320px;}

	.btn_txt{
	font-size:1.6em;bottom:0;}

	h1{font-size:3em;}
	h2{font-size:1.6em;}
	h3{font-size:1.2em;}
	h4{font-size:1em;}
	.stxt{font-size:0.8em;}
	.xstxt{font-size:0.6em;}
	.footertxt{font-size:0.5em;}

	.m_hide{display:block;}

	.desc{margin:40px;}




	.btn_2box{
		width:23vw;
		padding:2vw;
		margin:1vw;
		left:21vw;}

	.btn_2box img {
		width:70%;
		max-width:320px;}

	.title {
		margin:40px;}

	.textbox_2clm {
		width:23vw;
		padding:2vw;
		margin:1vw;
		left:21vw;}


	.margin_L {width:100%; height:60px;}
	.margin_M {width:100%; height:40px;}
	.margin_S {width:100%; height:20px;}


	.gray_box{width:760px;padding:20px;margin:auto;border-radius:5px;}
	.white_box{width:800px;margin:auto;border-radius:5px;}
	.pure_box{width:800px;margin:auto;}

	.terms_box_3clm {
		position: relative;
		width:240px;
		margin:0;
		padding-left:20px;
		padding-top:20px;
		text-align: left;}

	.terms_box_4clm {
		position: relative;
		width:175px;
		margin:0;
		padding-left:20px;
		padding-top:20px;
		text-align: left;}

	.terms_stroke {
		background-color:rgba(51,51,51,0.5);
		height:1px;
		width:100%;
		margin-bottom:5px;
		padding:0;}

	.terms_box_full {
		padding:2%;
		text-align:left;}

	.btn_purple {
		width:800px;
		border-radius:5px;
		height:auto;
		font-size:1.2em;
		padding:10px;
	}


}



