body {word-break:keep-all; min-height:100%; position:relative;padding:0; background-color:rgba(240,240,240,1.0); text-decoration: none;color: #333;font-family: 'Noto Sans', Helvetica, Arial, serif;font-style: normal;margin:0;text-align: center;}
div {word-break:keep-all;}
a {text-decoration: none;color: #333;border:0;}
a:link{text-decoration: none;color: #333}
a:visited{text-decoration: none;color: #333}
a:hover{text-decoration: none;color: #333}
a:active{text-decoration: none;color: #333}
img{border: 0;}
div {border:0}
h1{
	font-size: 4.5em;
 	font-weight: 400;
	line-height: 6em;
}


h2{
	font-size: 2em;
 	font-weight: 700;
	line-height: 3em;
}

h3{
	font-size: 2.4em;
 	font-weight: 700;
	line-height: 2.6em;
}


h4{
	font-size: 2.4em;
 	font-weight: 400;
	line-height: 1.6em;
}

.stxt {
	font-size: 2em;
 	font-weight: 400;
	line-height: 1.6em;
}

.xstxt {
	font-size: 1.6em;
 	font-weight: 400;
	line-height: 1.6em;
}

.margin_4vw{margin:4vw;}
.margin_3vw{margin:3vw;}
.margin_2vw{margin:2vw;}

header{
	position:relative;
	display: block;
	height:auto;
	text-align: center;
	margin-bottom:4vw;
}

header img{width:20vw;margin-bottom:2vw;}

.header-main{
	margin:4vw;
	position:relative;
	display: block;
	height:auto;
	text-align: center;
	width:92vw;
	margin-top:4vw;
}

.main-logo{width:60vw;max-width:320px;
	}

footer{
	position:relative;
	display: block;
	width:100%;
	text-align: center;
}

footer img{
	position:relative;
	width:30vw;
	height:auto;
	margin:10px;
}

.stroke_fullwidth{background-color: rgba(51,51,51,0.25);height:1px;width:100%;margin:0;padding:0;}

.footer-comp{width:92vw;padding:2vw 4vw 2vw 4vw;}






.m_hide{display: none;}


.wrap {
	width:100%;
	position:absolute;
	display: block;
}


.flex-wrap{
	position:relative;
	display: flex;
  flex-wrap: wrap;
}





.main_btn_box{
	background-color:#fff;
	border-radius: 20px;
	box-shadow: 2vw 2vw 4vw rgba(0,0,0,0.05);;
	height: auto;
	left: 0px;
	position: relative;
	top: 0px;
	width:84vw;
	left:4vw;
	margin-bottom:4vw;
	padding:4vw;
	transition: all 0.2s ease;
}

.main_btn_box:hover {
box-shadow: 20px 20px 20px -10px rgba(0,0,0,0.2);
background-color:#f7f7f7;
}

.main_btn_box:active {
background-color:#e0e0e0;
}


.main_btn_img{
	position:relative;
	width:100%;
	text-align: center;
	top:0;
	margin-bottom:4vw;
}

.btn_txt{
	position:relative;
	width:100%;
	height:auto;
	font-size: 3em;
 	font-weight: 700;
	text-align: center;
}



.logo-enter {
  animation: logo-enter-frames 0.40s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;
}
.animate-enter1 {
  animation: animate-enter-frames 0.40s ease-in-out 0.30s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter2 {
  animation: animate-enter-frames 0.40s ease-in-out 0.60s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.animate-enter3 {
  animation: animate-enter-frames 0.40s ease-in-out 0.90s 1 normal forwards;
  display: block;
	opacity: 0;transform: translate(0, 25px);
}

@keyframes animate-enter-frames {
from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}

@keyframes logo-enter-frames {
from{opacity: 0;}
to{opacity: 1;}
}

-webkit-@keyframes animate-enter-frames {
from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}

-webkit-@keyframes logo-enter-frames {
from{opacity: 0;}
to{opacity: 1;}
}


.desc{margin:4vw;}












.btn_2box {
	background-color:#fff;
	border-radius: 20px;
	box-shadow: 2vw 2vw 4vw rgba(0,0,0,0.05);;
	height: auto;
	left: 0px;
	position: relative;
	top: 0px;
	width:84vw;
	left:4vw;
	margin-bottom:4vw;
	padding:4vw;
	transition: all 0.2s ease;
}

.btn_2box:hover {
box-shadow: 20px 20px 20px -10px rgba(0,0,0,0.2);
background-color:#f7f7f7;
}

.btn_2box:active {
background-color:#e0e0e0;
}


.btn2_img {
	position:relative;
	width:100%;
	text-align: center;
	top:0;
	margin:2vw 0;
}


















@media (min-width: 62rem) {
	body{}
	.margin_4vw{margin:20px;}
	.margin_3vw{margin:20px;}
	header {}
	header img{width:100px;margin-bottom:12px;}
	footer{height:110px;margin-bottom:-110px;}
	footer img{
		position:relative;
		width:150px;
		height: auto;
		margin:10px;
	}
	.footer-comp{width:98%;padding:1vw;}

	.main-logo{
	width: 300px;height:auto;margin-top:0;
}

	.header-main{
	margin:40px;
}

	.main_btn_box{
	height: auto;
	width:23vw;
	padding:2vw;
	margin:1vw;
	left:6.5vw;
}

	.main_btn_box img{
	width:70%;
	max-width:320px;
}

	.btn_txt{
	font-size:1.6em;bottom:0;
}

	h1{font-size:3em;line-height:4.5em;}
	h2{font-size:1.6em;line-height:2.4em;}
	h3{font-size:1.2em;line-height:2em;}
	h4{font-size:1em;line-height:1.9em;}
	.stxt{font-size:1em;line-height:1.7em;}
	.xstxt{font-size:0.7em;line-height:1.7em;}

	.m_hide{display:block;}

	.desc{margin:40px;}




	.btn_2box{
		width:23vw;
		padding:2vw;
		margin:1vw;
		left:21vw;
	}

	.btn_2box img {
		width:70%;
		max-width:320px;}


}



